# Ignore Terraform state
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore Terraform plan output
*.tfplan

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore .terraform directory (modules & provider plugins)
.terraform/
*.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore backup files
*.bak

# Ignore local secret/cloudinit/ssh files
cloudinit/*.iso
cloudinit/*.yaml
*.pem
*.key
*.pub

